<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('index') }}static/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MXGQHB1S3T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MXGQHB1S3T');
    </script>
  </head>

  <body>
    <h1>WSC Tables</h1>

    <div id="table"></div>

    <script src="{{ url_for('index') }}scripts/wsctables.js"></script>

    <script async>
      window.__wscinitTable();
      // table.innerHTML = JSON.stringify(data, null, 2);
    </script>

  </body>
</html>
